@tailwind base;
@tailwind components;
@tailwind utilities;

.texts {
  position: relative;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  overflow: hidden;
}

.texts:nth-child(odd) {
  transform: skew(60deg, -30deg);
}

.texts:nth-child(even) {
  transform: skew(0, -30deg) scaleY(1.5);
}

.texts:nth-child(1) {
  left: -66px;
}


.texts:nth-child(2) {
  top: 9px;
  left: -32px;
}

.texts:nth-child(3) {
  top: 19px;
  left: 4px;
}

.texts:nth-child(4) {
  top: 30px;
  left: 38px;
}

.texts:nth-child(5) {
  top: 42px;
  left: 70px;
}

.climbing {
  transition: 0.5s ease-in-out;
  animation: climbing 1s linear infinite;
}

@keyframes climbing {
  100% {
    transform: translate(0, -40px);
  }
}

